[submodule "maryodel"]
	path = maryodel
	url = https://github.com/dmwit/maryodel
[submodule "tomcats"]
	path = tomcats
	url = https://github.com/dmwit/tomcats
[submodule "hasktorch"]
	path = hasktorch
	url = https://github.com/hasktorch/hasktorch
